.row {
    display: flex;
}

.container{
    background-color: rgb(229, 241, 55);
    display: inline-block;
    
}
.box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(48, 211, 56);
    color: black;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* background-image: url('https://gph.is/2pmBQW1') */
}